

  <div class="container center">

<%= select_tag 'category_id', options_from_collection_for_select( @categories, "id", "name"), :prompt => "seleccionar carrera",:onchange => "window.location.replace('/categories/'+this.value);", class: "form-control" %>

</div>




<div class="container center">
     
                <%= button_to "crear articulo", new_street_path, class: "btn be-blue white" %>
                                                 
                  </div>

     <div class= "find container center">
  <h1>Usa palabras claves y escribe bien por el amor de Julieta</h1>
  <%= form_tag "/search/create", method: :get, required: true, remote: true, id: "search-form" do %>


<%= text_field_tag :keyword, nil, placeholder: "buscar articulo", class: "form-find" %>


<%= content_tag :button, class: "btn be-red white", type: :submit do %>

buscar


<% end %>
<% end %>

</div>

<div id="resultados" class= "container color">
  
  
</div>























<div class="container" >

       


 
 


 


  <div class= "container3">
 
 
<div class="container center"> 
<h1> NUEVOS ARTICULOS </h1>
</div>


 
 <%= render @streets %>

 </div>
     


<div>
	
  <h2><%= will_paginate @streets, inner_window: 1, outer_window: 1,  :previous_label => 'anterior', :next_label => 'siguiente' %></h2>

</div>




 </div>

 


