

<div class="container">
<div class="center">
<h1>Iniciar sesión</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

  <div class="field">
   
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
  </div>

  <div class="field">
   
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "contraseña" %>
  </div>

   
  <div class="actions">
    <%= f.submit "iniciar", class: "btn be-red white"  %>
  </div>

 <p style="margin-top: 10px">ya estas <%= link_to "registrado", new_car_registration_path %>?</p>


<% end %>

